<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False"/>
  </bindingRedirects>
  <packageSources>
    <add key="nuget" value="https://www.nuget.org/api/v2"/>
    <add key="Syncfusion_Xamarin" value="http://nuget.syncfusion.com/nuget_xamarin/nuget/getsyncfusionpackages/xamarin"/>
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)"/>
  </activePackageSource>
  <packageSourceCredentials>
  </packageSourceCredentials>
</configuration>